
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
line-height: 1.4;
font-weight: 300;
font-family: "Roboto";
}
.mav{
box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
position: sticky;
top: 0;
margin-bottom: 32px;
background-color: white;
padding: 10px;
z-index: 50;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
   
}
.container{
     max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
   top:200px ; 
}
.contant{
    display: flex;
    flex-direction: column;
    top: 100%;
    gap: 20px;
}
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.one{
    background-color: green;
    padding:  5px 10px;
    color: white;
    align-self: flex-start;
}
.contant h1 {
    font-size: 72px;
    line-height:1.2 ;
    font-weight: 400;
}
button{
    padding: 10px  15px; 
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
   transition: 0.2s ease-in-out;
}
.Explore{
    background-color:#FFC066;
     align-self: flex-start;
}
.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
margin-bottom: 50px;}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    transition: 0.2s ease-in-out;
}
.two{
    border: 1px solid green;
    margin: 20px 0;
}
.tag{
     background-color: green;
    color: white;
}
.manu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.tag{
    align-items: center;
}
.grid{
    display: grid;
gap: 10px;
grid-template-areas: "I1 I1 I2 I3"
"I1 I1 I2 I7"
"I4 I5 I6 I7";
}

.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}


.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}.item7{
    grid-area: I7;
}

.grid_image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.grid_image:hover{
    transform: scale(1.05);
    transition: 0,2s ease-in-out;
}
@media (max-width:786px){
   .hero {
        flex-direction: column;
    }
     .img{
        display: flex;
        justify-content: center;
    }
    .img{
        width: 90%;
    }
    .contant{
        gap: 100px;
        padding: 10px;
    }
    .contant h1{
        font-size: 32px;
    }
}

footer{
    background-color: #fff0bd;
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.link-list ul{
margin-bottom: 10px;
color: gray;
list-style: none;
}
.link-list  ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.news_letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.news_letter h3{
    margin-bottom: 10px;
}
.icon_continer{
    display: flex;
    gap: 15px;
    font-size: 32px;
}
.ion{
    display: flex;
}

